.bd-main{
    height: 100%;
    padding-left: 200px;
    min-height: 100vh;
}
#chart {
    max-width: 650px;
    margin: 35px auto;
  }
  mat-card{
    width: 100%;
}
apx-chart{
    height: 100%;
}
.mat-grid-tile{
    width: 50%;
    height: 60%;
}
.item-box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 80%;
}
.mat-grid-tile-content{
    display: flex;
    align-items: flex-start;
}
.mat-grid-tile > div{
    align-items: flex-start;
}