  <mat-list>
    <mat-list-item [routerLink]="['/angular/dashboard/']" routerLinkActive="page_active"> Dahsboard </mat-list-item>
    <mat-list-item [routerLink]="['/angular/portafolio/']" routerLinkActive="page_active"> Valor del portafolio </mat-list-item>
    <mat-list-item [routerLink]="['/angular/saldos/']" routerLinkActive="page_active"> Saldos </mat-list-item>
    <mat-list-item [routerLink]="['/angular/acciones/']" routerLinkActive="page_active"> Acciones </mat-list-item>
    <mat-list-item [routerLink]="['/angular/movimientos/']" routerLinkActive="page_active"> Movimientos </mat-list-item>
</mat-list>